spring:
  application:
    name: gateway
  cloud:
    bootstrap:
      enabled: true
    loadbalancer:
      ribbon:
        enabled: false
    gateway:
      default-filters:
        - TokenRelay
      discovery:
        locator:
          enabled: true
      routes:
        - id: employee
          uri: lb://employee
          predicates:
            - Path=/employee/**
          filters:
            - RewritePath=/employee/(?<path>.*), /$\{path}
        - id: department
          uri: lb://department
          predicates:
            - Path=/department/**
          filters:
            - RewritePath=/department/(?<path>.*), /$\{path}
        - id: organization
          uri: lb://organization
          predicates:
            - Path=/organization/**
          filters:
            - RewritePath=/organization/(?<path>.*), /$\{path}
  keycloak:
      server-url: http://keycloak-server:8080
  security:
    oauth2:
      # client:
      #   registration:
      #     keycloak:
      #       client-id: erp-app
      #       scope: openid,roles
      ##   provider:
      #     keycloak:
      #       issuer-uri: http://keycloak-server:8080/realms/erp-realm
      #       authorization-uri: https://keycloak.greeta.net/realms/erp-realm/protocol/openid-connect/auth
      #       # token-uri: https://keycloak.greeta.net/realms/erp-realm/protocol/openid-connect/token
      resourceserver:
        jwt:
          issuer-uri: ${spring.keycloak.server-url}/realms/erp-realm
          jwk-set-uri: ${spring.security.oauth2.resourceserver.jwt.issuer-uri}/protocol/openid-connect/certs

jwt:
  auth:
    converter:
      resource-id: erp-app
      principal-attribute: preferred_username

app:
  cors:
    allowed-origins: ${erp-app.base-url}

erp-app:
  base-url: http://localhost:3000
  redirect-url: ${erp-app.base-url}/*

logging:
  pattern: 
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"  
    console: "%d{yyyy-MM-dd HH:mm:ss} ${LOG_LEVEL_PATTERN:-%5p} %m%n"
  level:
    org.springframework.cloud.kubernetes: TRACE

info:
  system: Gateway Service

management:
  endpoints:
    web:
      exposure:
        include: bindings, configprops, env, flyway, functions, health, heapdump, info, loggers, mappings, prometheus
  endpoint:
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true
  info:
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}